:host /deep/ #account-multiselect .ui-multiselect-header {
  display: none;
}
.countries-box {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  max-height: 200px;
  overflow: auto;
  min-width: 100%;
  border-radius: 4px;
  background-color: #FFF;
  z-index: 2;
}
.countries-box__item {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  color: #9b9b9b;
  &:hover {
    background-color: #d9eeff;
  }
}
.box {
  border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ebebeb;
}
.btn-add{
  color: var(--blue);
  font-size: 17px;
  font-weight: bold;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.error {
  color: red
}
