<!-- <router-outlet></router-outlet> -->
<div class="d-flex flex-column p-4  h-100 w-100">
  <div class="d-flex flex-column p-4 bordered overflo-auto">
    <div class="d-flex flex-column box p-3">
      <div class="d-flex">
        <div class="mr-3 mt-1">Where</div>
        <!-- <div class="col-10"> -->
          <div class="d-flex flex-column" [formGroup]="filtersFormGroup">
            <div class="d-flex align-items-center mb-2" formArrayName="filters"
              *ngFor="let item of filtersFormGroup.get('filters')['controls']; let i = index;">
              <ng-container [formGroupName]="i">
                <p-dropdown class="mr-4" [options]="lhsValues" formControlName="lhs" placeholder="Select a Metric"
                  (onChange)="onLHSValueChange(i)"></p-dropdown>
                <p-dropdown class="mr-4" [options]="operatorsValues && operatorsValues[i]" formControlName="operator"
                  placeholder="Select a operator"></p-dropdown>
                <ng-container *ngIf="item.value.lhs != '' && item.value.operator != ''">
                  <p-multiSelect class="mr-4" id="account-multiselect" *ngIf="item.value.lhs == 'account'"
                    [options]="accountValues" formControlName="value" [virtualScroll]="true" itemSize="30"
                    [filter]="false"></p-multiSelect>
                  <div class="position-relative mr-4" *ngIf="item.value.lhs == 'country'" click-outside
                    (clickOutside)="onCountryClickOutside($event, i)" (click)="showCountryDropdown[i] = true">
                    <input (keyup)="onCountrySearch($event.target.value)" class="form-control form-control-custom"
                      formControlName="value" [placeholder]=" selectedCountries[i] && selectedCountries[i].length > 0 ? selectedCountries[i].length + ' selected' : 'Search..'">
                    <div [hidden]="!showCountryDropdown[i]" class="position-absolute countries-box">
                      <div *ngFor="let country of countriesDisplayed;" class="countries-box__item"
                        (click)="toggleCountry(country, i)">
                        <input type="checkbox" [checked]="isCountrySelected(country, i)" class="mr-1">
                        {{country.name}}
                      </div>
                    </div>
                  </div>
                  <input class="form-control form-control-custom mr-4" *ngIf="item.value.lhs == 'campaign_name'"
                    formControlName="value" placeholder="value">
                  <input appTwoDigitDecimaNumber class="form-control form-control-custom mr-4"
                    *ngIf="item.value.lhs == 'revenue'" formControlName="value" placeholder="value" />
                </ng-container>
                <input class="form-control form-control-custom mr-4"
                  *ngIf="item.value.lhs == '' || item.value.operator == ''" readonly style="background-color: #fff" />
                <img *ngIf="filtersFormGroup.get('filters')['controls'].length > 1" src="assets/images/close.svg" class="hw-18 cursor-pointer" (click)="deleteFilter(i)">
              </ng-container>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <div class="d-flex">
        <button class="btn btn-add" (click)="addFilter()">+ ADD</button>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button class="btn-blue" (click)="onApplyClick()">Apply</button>
    </div>
  </div>
</div>
