/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  src: url('assets/fonts/ProximaNova-Reg.woff');
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  font-display: swap;
  src: url('assets/fonts/ProximaNova-Semibold.woff2');
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  font-family: ProximaNova;
}
.hw-18 {
  height: 18px;
  width: 18px;
}
.cursor-pointer {
  cursor: pointer !important;
}
.form-control-custom {
  width: 12.5rem;
  padding: 9px;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #9b9b9b;
  line-height: normal;
  border-radius: 4px;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--blue);
  }
}
.bordered {
  border: 1px solid #ddd;
  border-radius: 4px
}
.btn-blue {
  background-color: var(--blue);
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  min-width: 100px;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}
